<div>
    <h1>Live Inventory  </h1>
    <p>Keep track of all your products in one place </p>
    <a class="btn btn-primary btn-lg" href="/products" role="button">View Products</a>
    <a class="btn btn-success btn-lg" href="/products/new" role="button">Add Product</a><br>
    <a class="btn btn-primary btn-lg" href="#" role="button">Orders</a>
</div>